<%= javascript_include_tag "/javascripts/libs/jquery-1.7.1.min.js" %>
<%= javascript_include_tag "/javascripts/userrulemessage.js" %>
<%= javascript_include_tag "/javascripts/test_message.js" %>
<div>
	<input type="hidden" id="strruleid" value="<%=h @rulemessage.id %>" />
	<ul>
		<li>规则名称：</li>
		<li>
			<input type="text" id="strrulename" value="<%=h @rulemessage.rulename%>" />
		</li>
		<li>关键字：</li>
		<li>
			<input type="text" id="strkeyword" value="" />
		</li>
		<li>用户名称：</li>
		<li>
			<input type="text" id="strusername" value="<%=h @rulemessage.username%>" />
		</li>
		<li>原创/转发：</li>
		<li>
			<select id="str_filter_ori">
				<option value="0" >全部</option>
				<option value="4" >转发</option>
				<option value="5" >原创</option>
			</select>
		</li>
		<li>
			<input type="button" id="strsave" value="保存" />
		</li>
	</ul>
</div>
<div>
	<input type="button" id="strselectbutton" value="用户/文字搜索">
</div>
