<!DOCTYPE html>
<html>
<head>
  <title>SocialWeb</title>
  <%= stylesheet_link_tag    :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div id="user_nav">    
  <% if user_signed_in? %>    
    Signed in as <%= current_user.email %>. Not you?    
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>    
  <% else %>    
    <%= link_to "Sign up", new_user_registration_path %> or    
    <%= link_to "Sign in", new_user_session_path %>    
  <% end %>    
</div>
<% if session[:atoken] %>
  <a href="/home/logout">logout</a>
<% else %>
  <a href="/home/connect">connect</a>
<% end %> 
<%= yield %>
</body>
</html>
